{{ define "main" }}
<div class="container">
    <div class="row mb-4">
        <div class="col-12 text-center">
            <h3 class="center">{{ .Title }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>
                {{ .Content }}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <h3 class="center">Leitung</h3>
        </div>
    </div>
    <div class="row pb-5 pt-4">
        {{ range where .Data.Pages "Params.leader" true }}
            {{ partial "teamCard.html" . }}
        {{ end }}
    </div>
    
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="center">Team</h3>
        </div>
    </div>
    <div class="row pb-5 pt-4">
        {{ range where .Data.Pages "Params.leader" false }}
            {{ partial "teamCard.html" . }}
        {{ end }}
    </div>
</div>
{{ end }}

{{ define "script" }}
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{{ end }}
