{{ $img := .Page.Resources.GetMatch "image.*" }}
{{ $dateRangeStart := (time .Params.startDate) }}
{{ $dateRangeEnd := (time .Params.date) }}
<div class="container">
    <div class="row mb-4">
        <div class="col-12">
            <h1 style="font-weight: 400;font-size:45px">{{ .Title }}</h1>
            <p class="text-muted" style="font-size:20px">{{ .Date.Format "02.01.2006" }} - {{ .Params.author }}</p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12">
            <p>
                Unsere Mission ist es jedem Kind Zugang zu digitaler Bildung zu geben.
                Dafür schaffen wir digitale Bildung für Grundschulen und Bildungseinrichtungen.
                Wir vermitteln auf spielerische Art und Weise Prozess- und Logik-Denken, Grundlagen der Algorithmik
                und kreatives Problemlösen. Programmierung ist für uns ein Werkzeug, aber sollte niemals in den Weg
                geraten.
                Für die Umsetzung unserer Vision setzen wir auf starke Unternehmen & Partner der Region, die bereit sind sich
                für IT-Bildung einzusetzen.
                So investieren wir gemeinsam in ein grundlegendes Medienverständnis und die digitale
                Kompetenz der Zukunft.
            </p>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <h2>Zusammenfassung</h2>
            <p>
                Durch Ihre Unterstützung haben wir über <span class="playful-number i4k-blue">{{ .Params.kidsCount }} Kids</span> erreichen können.
                Diese verteilen sich auf <span class="playful-number i4k-red">{{ .Params.customerCount }} Schulen & Bildungseinrichtungen</span> in {{ .Params.stateCount}}
                Bundesländern.
                Mittlerweile arbeiten wir mit <span class="playful-number i4k-blue">{{ .Params.studentCount }} Studenten</span> zusammen, um für unsere Kunden
                preiswert
                digitale Bildungsangebote zu schaffen. Dabei kommt unser Angebot bei den Schülern und Lehrern gut an.
                Damit möglichst viele Schüler an dem Kurs teilnehmen können, finden sich unsere Inhalte sowohl
                im regulären Schulunterricht als auch im AG-Angebot wieder.
            </p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <h2>IT4Kids in Zahlen</h2>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-2">
                    <div class="bg-white rounded-lg p-5 shadow h-100">
                        <h2 class="h6 font-weight-bold text-center mb-4">Kundenentwicklung</h2>
                        <canvas id="chartCustomerHistory" width="400" height="400"></canvas>
                        <div class="row mt-4">
                            <div class="col">
                                <p class="text-muted">
                                    Am Anfang des Jahres 2019 haben wir eine große Umstruktierung gemacht,
                                    die uns einige Kunden gekostet hat.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-2">
                    <div class="bg-white rounded-lg p-5 shadow h-100">
                        <h2 class="h6 font-weight-bold text-center mb-4">Kursverteilung</h2>
                        <canvas id="chartCourseTypeDistribution" width="400" height="400"></canvas>
                        <div class="row mt-4">
                            <div class="col">
                                <p class="text-muted">
                                    Wir wollen allen Schulen helfen auf eigenen Beinen zu stehen.
                                    Dadurch wird aus jeder Schule ein kostengünstiger Lizenzkunde.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 mb-2">
                    <div class="bg-white rounded-lg p-5 shadow h-100">
                        <h2 class="h6 font-weight-bold text-center mb-4">Engagierte Studenten</h2>
                        <div class="text-center mx-auto">
                            <div class="text-left" style="display: inline-block; font-size: 10px;">
                                <span style="margin-right: 5px;display: inline-block; width: 20px; height: 10px; background-color: rgba(255, 99, 132, 0.2); border: 1px solid rgba(255, 99, 132, 1)"></span> Über 1 Jahr Erfahrung
                                <br>
                                <span style="margin-right: 5px;display: inline-block; width: 20px; height: 10px; background-color: rgba(54, 162, 235, 0.2); border: 1px solid rgba(54, 162, 235, 1)"></span> Unter 1 Jahr Erfahrung
                            </div>
                        </div>
                        <div class="row align-items-center  pr-4">
                            <div class="col-12">
                                <div class="text-center p-0 d-flex align-items-center">
                                    <canvas id="chartTutorDistributions" width="350" height="350"></canvas>
                                    <h3 style="padding-right: 30px" class="h1 w-100 position-absolute my-auto">{{ .Params.studentCount }}</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col">
                                <p class="text-muted">
                                    Wir bilden Studenten aus und schicken diese als preiswerte Kursleitungen an unsere Partnerschulen.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            {{ $pages := slice }}
            {{ range $index,$value := (where .Site.RegularPages "Section" "blog") }}
            {{ if ((time $value.Params.date).Before $dateRangeEnd)}}
            {{ if ((time $value.Params.date).After $dateRangeStart)}}
            {{ if .Params.partnerFeatured}}
            {{ $pages = $pages | append . }}
            {{ end }}
            {{ end }}
            {{ end }}
            {{ end }}
            {{ if $pages }}
            <h3>Neuigkeiten</h3>
            <div class="row">
                {{ range $pages}}
                {{ partial "blogCardDense.html" . }}
                {{ end }}
            </div>
            <p class="float-right text-muted">
                Weitere Neuigkeiten haben wir für Sie auf unserem <a href="/blog">Blog</a> zusammengestellt.
            </p>
            {{ end }}

        </div>
    </div>
    {{ if .Content }}
    <div class="row mb-4">
        <div class="col">
            <h3>Detailbericht</h3>
            {{ .Content }}
        </div>
    </div>
    {{ end }}

    <div class="row">
        <div class="col text-center">
            <h2>Unsere Partner</h2>
            <div class="row my-auto">
                <div class="col-4 p-4 my-auto">
                    <img src="{{ `/img/partner/lancom.png` | relURL }}" class="img-fluid" alt="LANCOM Systems">
                </div>
                <div class="col-4 p-0 my-auto">
                    <img src="{{ `/img/partner/INFORM_RGB_Hintergrund-transparent.svg` | relURL }}" class="img-fluid" alt="INFORM">
                </div>
                <div class="col-4 p-4 my-auto">
                    <img src="{{ `/img/partner/arkadia.jpg` | relURL }}" class="img-fluid" alt="Arkadia Management Consultants">
                </div>
            </div>
        </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.0/dist/Chart.min.js"></script>
<script>
    var ctx = document.getElementById('chartTutorDistributions').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Über 1 Jahr Erfahrung', 'Unter 1 Jahr Erfahrung'],
            datasets: [{
                label: '',
                data: [{{sub .Params.studentCount .Params.newStudentCount}},{{.Params.newStudentCount}}],
    backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
    ],
        borderColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
    ],
        borderWidth: 1
    }]
    },
    options: {
            legend: false
    }
    });
</script>
<script>
    var ctx = document.getElementById('chartCourseTypeDistribution').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['OGS', 'Regelunterricht', 'Lizensiert', 'Events'],
            datasets: [{
                label: '',
                data: [{{.Params.ogsCustomerCount}},{{.Params.regularCustomerCount}},{{.Params.licensedCustomerCount}},{{.Params.eventCustomerCount}}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            legend: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
<script>
    var ctx = document.getElementById('chartCustomerHistory').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {

            labels: [{{ range (where .Site.RegularPages.Reverse "Section" "status") }}{{ if ((time .Params.date).Before $dateRangeEnd)}}'{{ dateFormat "01.2006" (time .Params.date)}}',{{ end }}{{ end }}'{{ dateFormat "January 2006" (time .Params.date)}}'],
            datasets: [{
                label: '# Kunden',
                data: [{{ range (where .Site.RegularPages.Reverse "Section" "status") }}{{ if ((time .Params.date).Before $dateRangeEnd)}}"{{ .Params.customerCount}}",{{ end }}{{ end }}'{{ .Params.customerCount }}'],
                backgroundColor: [
                    'rgba(25,97,172,0.8)',
                ],
                borderColor: [
                    'rgba(54, 162, 235, 1)',
                ],
                fill: 'start',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
