---
title: Statusupdate
description: Dank starken Partnern haben wir 1200 Kids Zugang zu digitaler Bildung geben können.
---
{{ define "main" }}
<div class="container pb-0">
    {{ $newestStatus := (where .Pages "Section" "status")}}
    {{ range first 1 $newestStatus}}
    {{ .Render "embedded" }}
    {{ end }}
    <div class="row mt-5">
        <div class="col-12">
            <h4>Vorherige Statusberichte:</h4>
            <div class="row">
            {{ range  last 3 (first 4 .Pages)  }}
            {{ partial "statusCard.html" . }}
            {{ end }}
            </div>
        </div>
    </div>
    {{ partial "contactLead.html" . }}

</div>
{{end}}