/*General*/
@media (max-width: 510px) {
    #logo {
        max-height:65px !important;
    }
}
.center {
    margin-left: auto;
    margin-right: auto;
}
body {
    background-color: white;
}
.nav-link a {
    text-decoration: none;
    color: black;
}
#main a {
    text-decoration: none;
}
.shadow {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
section {
    margin-bottom: 125px;
}
#cards a {
    text-decoration: none;
}
body {
    font-family: 'Lato', sans-serif;
}
.heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: xx-large;
}

@media (min-width: 576px) {
    #robot {
        margin-top: 120px;
    }
}
@media (min-width: 769px) {
    .card p {
        padding-left: 5%;
        padding-right: 5%;
    }
}
@media (max-width: 991px) {
    #cards .card {
        height: 350px !important;
    }
    #cards .card h3 {
        padding-top: 25% !important;
    }
}

.hoverable .hover {
    display: none;
}
.hoverable:hover .normal {
    display: none;
}
.hoverable:hover .hover {
    display: block;
}
/*Navbar*/
.navbar-custom {
    background-color: rgba(255, 255, 255, 0.02);
    border-color: transparent;
    padding-right: 10%;
    padding-left: 10%;
}
.navbar-custom .navbar-brand {
    color: #0062bb;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand.active {
    color: #00008B;
}
.navbar-custom .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
    background-color: #0062bb;
    border-color: #0062bb;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
}
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
    background-color: #0062bb;
}
.navbar-custom .nav li a {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: black;
}
.navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
    color: #0062bb;
    outline: none;
}
.navbar-custom .navbar-nav>.active>a {
    border-radius: 0;
    color: white;
    background-color: #0062bb;
}
.navbar-custom .navbar-nav>.active>a:hover, .navbar-custom .navbar-nav>.active>a:focus {
    color: white;
    background-color: #00008B;
}
@media (min-width: 768px) {
    .navbar-custom {
        background-color: transparent;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
    }
    .navbar-custom .navbar-brand {
        font-size: 2em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
}
@media (min-width: 768px) {
    .navbar-custom.affix {
        background-color: rgba(245, 245, 245, 0.5);
    }
    .navbar-custom.affix .navbar-brand {
        font-size: 1.5em;
    }
}
/*Console*/
@media (max-width: 991px){
    .console {
        min-height:220px !important;
    }
}

.console {
    counter-reset: line;
    width: 100%;
    height: auto;
    min-height: 150px;
    max-height: 150px;
    max-width: 750px;
    overflow-y: auto;
    display: none;
    background: #F5F5F5;
    color: #444;
    font-size: 15px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    margin-top: 30px;
    font-family: monospace;
    padding: 25px;
    position: relative;
}
.console li .user {
    color: #8e8e8e;
}
.console li a {
    color: #444;
}
.console li .cursor {
    width: 5px;
    height: 16px;
    margin-left: 3px;
    vertical-align: middle;
    background: #444;
    display: inline-block;
    -webkit-animation: cursorAnim 1.5s infinite;
    -moz-animation: cursorAnim 1.5s infinite;
    -o-animation: cursorAnim 1.5s infinite;
    animation: cursorAnim 1.5s infinite;
}
.console li .icon {
    font-size: 14px;
}
.console li input {
    background: 0 0;
    outline: 0;
    border: 0;
    font-family: monospace;
    text-shadow: 0 0 0 #444;
    font-size: 15px;
    position: absolute;
    color: transparent;
    height: 30px;
    line-height: 16px;
}
.console li .listSite {
    background: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    line-height: 20px;
    margin-top: 10px;
    display: inline-block;
    word-break: keep-all;
}
.console li::before,.console li:before {
    content: counter(line);
    counter-increment: line;
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 20px;
    color: #8e8e8e;
}
/*Footer*/
#footer-row {
    display: table;
    width: 100%;
}
#footer-row  > div:nth-of-type(1) > ul {
    float: left;
}
#footer-row  > div:nth-of-type(2) > ul {
    text-align: center !important;
}
#footer-row  > div:nth-of-type(3) > ul {
    float: right;
}
.footer-col {
    display: table-cell;
    vertical-align: bottom;
}
@media (max-width: 768px) {
    #footer-row {
        display: block;
        width: auto;
    }
    #footer-row  > div:nth-of-type(1) > ul {
        text-align: center !important;
        float: none;
    }
    #footer-row  > div:nth-of-type(2) > ul {
        float: none;
    }
    #footer-row  > div:nth-of-type(3) > ul {
        text-align: center !important;
        float: none;
    }
    .footer-col {
        display: block;
        /*change col-4 to col-12*/
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}