<!DOCTYPE html>
<html lang="de">
<head>
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    <meta property="og:url" content="https://it-for-kids.org">
    <meta property="og:locale" content="de_DE">
    {{ partial "header.html" . }}
    {{ block "meta" . }}{{ end }}
    {{ block "style" . }}{{ end }}
</head>
<body>
{{ partial "navbar.html" . }}
<div class="pt-0 pt-md-5" style="margin-top: 100px">
    {{ block "main" . }}{{ end }}
</div>
{{ partial "footer.html" . }}
{{ block "script" . }}{{ end }}
</body>
</html>
