<!DOCTYPE html>
<html lang="de">
    <head>
    <meta property="og:type" content="website">
    <meta property="og:title" content="IT4Kids | IT-Kurse für Grundschulen">
    <meta property="og:url" content="it-for-kids.org">
    <meta property="og:image" content="it-for-kids.org/img/logo.svg">
        {{ partial "header.html" . }}
        {{ block "meta" . }}{{ end }}
        {{ block "style" . }}{{ end }}
    </head>
	<body>
        {{ partial "navbar.html" . }}
		<div class="pt-0 pt-md-5" style="margin-top: 100px">
            {{ block "main" . }}{{ end }}
        </div>
        {{ partial "footer.html" . }}
        {{ block "script" . }}{{ end }}
	</body>
</html>
