<section id="blog">
    <div class="container">
        <div class="row">
            <h3 class="center heading">Blog</h3>
        </div>
        <div class="row text-center">
            <p class="center text-muted" style="max-width:500px;">
                In unserem Blog können Sie unsere aktuellen Beiträge zum Thema Digitalbildung und Sozialunternehmertum in der Bildungsbranche lesen.
            </p>
        </div>
        <div class="row">
            {{ range first 3 (where .Site.RegularPages "Section" "blog") }}
                {{ partial "blogCard.html" . }}
            {{ end }}
        </div>
    </div>
</section>
