<div class="col-md-4 col-sm-6 col-12 mb-5">
    <div class="card h-100">
        <div style="height:150px;overflow:hidden"><img class="card-img-top" src="{{ .Params.image }}" alt="Post Image"></div>
        <div class="card-body">
            <h4 class="card-title">{{ .Title }}</h4>
            <p class="card-text">{{ truncate 100 .Content }}</p>
        </div>
        <div class="card-footer">
            <a href="{{ .URL }}" class="btn btn-primary">Weiterlesen</a>
        </div>
    </div>
</div>
