<ul class="console center" style="transform: scale(1, 1); display: block;list-style: none">
    <div class="float-right reset" data-toggle="tooltip" title="Replay">
        <a href="#!" onclick="typed.reset()"><i class="fas fa-redo" style="font-size: 18px;color: #444"></i></a>
    </div>
    <li><span class="user">[Console]~</span> Wer sind IT4Kids?<span class="initRobot"></span></li>
    <li><span>[Console]~</span> <span class="main_text"></span><span id="typed-cursor"></span></li>
    <a href="{{ relref . `vision.md` }}" style="right: 10px;bottom: 5px;position: absolute;">Erfahre mehr</a>
</ul>
