<ul class="console center" style="transform: scale(1, 1); display: block;list-style: none">
    <div class="float-right reset" data-toggle="tooltip" title="Replay">
        <a href="#!" onclick="typed.reset()"><i class="fas fa-redo" style="font-size: 18px;color: #444"></i></a>
    </div>
    <li><span class="user">[I4K]~ Was ist IT4Kids?</span></li>
    <li><span>[I4K]~</span> <span class="main_text"></span><span id="typed-cursor"></span></li>
    <a href="{{ relref . `vision.md` }}" style="right: 10px;bottom: 5px;position: absolute;">Erfahre mehr</a>
</ul>
<script src="{{ `/js/typed.js` | relURL }}"></script>
<script>
    var typed = new Typed('.main_text', {
        strings: [
            "IT4Kids ist ein studentisches Projekt, das Informatik-Kurse für die 3. bis 6. Klasse anbietet.",
            "IT4Kids vermittelt logische Zusammenhänge und Prozessdenken in einem spielerischen Format.",
            "IT4Kids möchte allen Kindern Zugang zu digitaler Bildung bieten.",
            "IT4Kids könnte es bald auch an ihrer Schule geben.  <a href=\"#mitmachen\">Jetzt Kontakt aufnehmen!</a>"
        ],
        typeSpeed: 30,
        backSpeed: 10,
        smartBackspace: true,
        loop: false,
    });
</script>
