<section id="mitmachen">
   <div class="container">
      <div class="center" style="max-width:800px;">
         <div class="row">
            <h2 class="center section-heading" style="color: #1961ac; font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-transform: uppercase; font-weight: 700;">Schreibt uns!</h2>
         </div>
         <div class="row">
            <div class="col-3">
               <div class="bg-white rounded-lg shadow text-center">
                 <img class="img-fluid" src="/img/fynn_mazurkiewicz.jpg"/>
               </div>
            </div>
            <div class="col-sm-9">
               <aside class="sidebar">
                  <div class="single contact-info mt-0">
                     <h3 class="side-title">Kontakt</h3>
                     <ul class="list-unstyled">
                        <li>
                           <div class="icon"><i class="fas fa-envelope"></i></div>
                           <div class="info">
                              <p>Projektleitung:<br><a href="mailto:fynn.mazurkiewicz@it-for-kids.org">fynn.mazurkiewicz@it-for-kids.org</a></p>
                           </div>
                        </li>

                     </ul>
                  </div>
               </aside>
            </div>
         </div>
      </div>
   </div>
</section>
