<section id="mitmachen">
   <div class="container">
      <div class="center" style="max-width:800px;">
         <div class="row">
            <h2 class="center section-heading" style="color: #1961ac; font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; text-transform: uppercase; font-weight: 700;">Schreibt uns!</h2>
         </div>
         <div class="row pt-3">
            <h4 class="center section-subheading text-muted" style="text-align: center">Sie wollen IT4Kids an Ihrer Schule?</h4>
            <h4 class="center section-subheading text-muted" style="text-align: center">Du möchtest Kursbetreuer werden?</h4>
            <h4 class="center section-subheading text-muted" style="text-align: center">Du möchtest dich einfach mit uns austauschen?</h4>
         </div>
         <div class="row">
            <div class="col-sm-6">
               <aside class="sidebar">
                  <div class="single contact-info">
                     <h3 class="side-title">Kontakt</h3>
                     <ul class="list-unstyled">
                        <li>
                           <div class="icon"><i class="fas fa-envelope"></i></div>
                           <div class="info">
                              <p>Allgemeine Anfragen:<br><a href="mailto:info@it-for-kids.org">info@it-for-kids.org</a></p>
                           </div>
                        </li>
                        <li>
                           <div class="icon"><i class="fas fa-envelope"></i></div>
                           <div class="info">
                               <p>Kursleiter werden:<br>Du kannst <a href="/mitmachen">jetzt bei uns mitmachen</a>!</p>
                           </div>
                        </li>

                     </ul>
                  </div>
               </aside>
            </div>
            <div class="col-sm-6">
               <aside class="sidebar">
                  <div class="single contact-info">
                     <h3 class="side-title">Social Media</h3>
                     <ul class="list-unstyled">
                        <li>
                           <div class="icon"><i class="fab fa-facebook-f"></i></div>
                           <div class="info">
                              <p>Facebook:<br><a href="{{ .Site.Params.facebook }}">IT4Kids</a></p>
                           </div>
                        </li>
                     </ul>
                  </div>
               </aside>
            </div>
         </div>
      </div>
   </div>
</section>
