<footer>
    <div class="container pt-5">
        <div id="footer-row" class="row">
            <div class="col-4 footer-col">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        {{ .Site.Copyright | safeHTML }}
                    </li>
                </ul>
            </div>
            <div class="col-4 footer-col">
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="{{ .Site.Params.facebook }}"><i class="fab fa-facebook-f fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ .Site.Params.instagram }}"><i class="fab fa-instagram fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ .Site.Params.enactus }}"><img class="icon-img" height="35px" src="/img/enactusschwalbe.png"/></a>
                    </li>
                </ul>
            </div>
            <div class="col-4 footer-col">
                <ul class="list-inline quicklinks">
                    <li class="list-inline-item">
                        <a href="{{ relref . `impressum.md` }}">Impressum</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ relref . `datenschutz.md` }}">Datenschutz</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>