<footer>
    <div class="container pt-5">
        <div id="footer-row" class="row">
            <div class="col-4 footer-col">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        {{ .Site.Copyright | safeHTML }}
                    </li>
                </ul>       
            </div>
            <div class="col-4 footer-col">
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="{{ .Site.Params.facebook }}"><i class="fab fa-facebook-f fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ .Site.Params.instagram }}"><i class="fab fa-instagram fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ .Site.Params.enactus }}"><img class="icon-img" height="35px" src="/img/enactusschwalbe.png"/></a>
                    </li>
                </ul>
            </div>
            <div class="col-4 footer-col">
                <ul class="list-inline quicklinks">
                    <li class="list-inline-item">
                        <a href="{{ relref . `impressum.md` }}">Impressum</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ relref . `datenschutz.md` }}">Datenschutz</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
    jQuery(function () {

        $(".progress").each(function () {

            var value = $(this).attr('data-value');
            var left = $(this).find('.progress-left .progress-bar');
            var right = $(this).find('.progress-right .progress-bar');

            if (value > 0) {
                if (value <= 50) {
                    right.css('transform', 'rotate(' + percentageToDegrees(value) + 'deg)')
                } else {
                    right.css('transform', 'rotate(180deg)')
                    left.css('transform', 'rotate(' + percentageToDegrees(value - 50) + 'deg)')
                }
            }

        })

        function percentageToDegrees(percentage) {

            return percentage / 100 * 360

        }

    });
</script>
