{{ define "main" }}
<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-12 text-center" >
                <div class="row text-center">
                    <img src="{{ `/img/robot.gif` | relURL }}" style="height:150px;margin-left:auto;margin-right:auto;" id="robot">
                </div>
            </div>
            <div class="col-sm-8 col-12">
                <div>
                    <span style="font-size: 50px;line-height: 200%;opacity: 0.2;">❝</span>
                    <p style="margin-top:-40px;color:gray">
                        <i>Everybody should learn how to <strong style="color:black">code</strong>, because it teaches you how to <strong style="color:black">think</strong>.
                        <br>
                        <span style="color:black;font-size: small;">- Steve Jobs</span>
                        </i>
                    </p>
                </div>
                {{ partial "console.html" . }}
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col">
                <p class="lead mb-3 mb-md-0">
                    IT4Kids bietet IT-Kurse für die 3. bis 6. Klasse, die Logik-
                    und Prozessdenken fördern.
                </p>
                <p class="lead mb-3 mb-md-0"> Wir sind Studenten aus Aachen und wollen allen
                    Kindern Zugang zu digitaler Bildung geben.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="cards" style="background:url('{{ `/img/hypnotize.png` | relURL }}');">
    <div class="container">
        <div class="row" >
            <div class="col-md-6 pb-4">
                <div class="card text-center" style="height:300px;margin-top: -50px;">
                    <h3 class="heading" style="font-size: xx-large;padding-top:10%" id="lehrmaterialHeading">Lehrmaterial</h3>
                    <p style="padding-top:10px;background-color:rgba(255, 255, 255, 0.67);">
                        Wir bieten seit mehreren Jahren Kurse an,<br>
                        die Logik- und Prozessdenken fördern.<br>
                        Aus unserem mehrfach ausgezeichneten Model gießen wir gerade ein ganzheitliches Konzept,<br>
                        das IT4Kids an jeder Schule ermöglicht.
                    </p>
                    <div style="position: absolute; bottom: 15px;right: 25px;">
                        <a href="{{ relref . `lehrmaterial.md` }}">Mehr Erfahren</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pb-4">
                <div class="card card2 text-center" style="height:300px;margin-top: -50px">
                    <h3 class="heading" style="font-size: xx-large;padding-top:10%" id="softwareHeading">Software</h3>
                    <p style="padding-top:10px;background-color:rgba(255, 255, 255, 0.67);">
                        Unsere Kurse arbeiten noch mit <a href="https://scratch.mit.edu/">Scratch</a> vom MIT.
                        Doch wir wollen die einfache Bedienung noch um einige Features wie integrierte Lernhilfen,
                        Fortschritts-Tracking und Vorlagen in unserer eigenen <a href="https://it4kids.github.io/">Software</a> erweitern.
                        Diese wird bereits in den ersten Kursen getestet.
                    </p>
                    <div style="position: absolute;bottom: 15px;right: 25px;">
                        <a href="{{ relref . `software.md` }}">Mehr Erfahren</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ partial "blog.html" . }}
{{ partial "teamPhoto.html" . }}
{{ partial "contactUs.html" . }}
{{ end }}

{{ define "script" }}
<script src="{{ `/js/typed.js` | relURL }}"></script>
<script>
var typed = new Typed('.main_text', { 
    strings: ["IT4Kids ist ein dynamisches Team von Studenten aus unterschiedlichsten Fachrichtungen, welche sich zum Ziel gesetzt haben Informatik an deutsche Schulen zu bringen.", "Wir setzen darauf, bereits in Grundschulen Kurse einzurichten, um den Kindern ein grundlegendes Verständnis von Informatik zu ermöglichen."], 
    typeSpeed: 30, 
    backSpeed: 0, 
    fadeOut: true, 
    loop: true 
}); 
</script>
{{ end }}
